@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');

.bg-color-name-title {
    background-color: #1895c70c;
    /*-----------------------colours-------*/

    header {
        margin: 0;
    }

    .heading {
        margin-left: 20px;
    }

    .rounded float-left {}

    .img {
        width: 150px;
        height: 150px;
    }

    .navbar-brand {
        margin-top: 5px;
    }

    

    .navbar-brand img {
        height: 60px;
        width: 260px;
    }

    footer {
        background-color: #525252;
        color: #fafafa;
        min-height: 120px;
        margin: 0;
    }

    .logo {

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 36px;
        max-height: auto;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
    }

    .name {
        font-family: "Poppins", Roboto;
        font-weight: 100;
        font-size: 46px;
        margin-top: 50px;
        color: #0d37f0;
    }

    /*.title {
    font-family: "Poppins", Roboto;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #0d37f0;
}