@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.bg-color-name-title {
    background-color: #f8eeee09;
    /*-----------------------colours-------*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../Images/Home/Digital Assets_Main Logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Poppins", Roboto;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #0d37f0;
}

.title {
    font-family: "Poppins", Roboto;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #0d37f0;
}