@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');

.bg-color-name-title {
    background-color: #1895c70c;
    /*-----------------------colours-------*/

    header {
        margin: 0;
    }

    .heading {
        margin-left: 20px;
    }

    .image-card {
        text-align: center;
    }

    .image-card img {
        width: 100%200;
        height: 100%;
    }

    .navbar-brand {
        margin-top: 5px;
    }

    .contact-form {
        max-width: 400px;
        margin: 0 auto;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-weight: bold;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form-group textarea {
        resize: vertical;
    }

    .submit-btn {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff02;
        color: #169cf5;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #hero-image {
        height: 600px;
        width: 100%;
    }