    @import url('https://fonts.googleapis.com/css?family=Poppin:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

    body {
        font-family: Poppin, Monserrat;
        background-color: #f0f0f0;
        color: #333;
    }

    h1 {
        color: #007bff;
    }

    P {
        margin-right: 20px;
        padding: 20%;

    }
    header {
        margin: 0;
    }

    .heading {
        margin-right: 20px;
    }

    /* image-cards */

    .image-card img {
        max-width: 50%;
    }

    /*-----Navigation----*/

    .nav a.active {
        background-color: #007bff;
        color: #fff;
    }

    .navbar-brand {
        margin-top: 5px;
    }

    /*<!---Contact Page---->*/

    .contact-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-weight: bold;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form-group textarea {
        resize: vertical;
    }

        .submit-btn {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
    }

    /*----Homepage button-----*/
    .learn-more-btn {
        display: block;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
    }

    .learn-more-btn:hover {
        background-color: #0056b3;
    }

    /*----Home Page Hero Image----*/
    .hero-image {
        position: relative;
        background-image: url("assets/images/home/light-bulb-hero.jpg");
        background-size: cover;
        background-position: 100%;
        height: 400px;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-text {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .hero-btn {
        padding: 10px 20px;
        background-color: #d0dd12;
        color: rgb(99, 223, 27);
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
    }